---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import MegaTitle from "@components/MegaTitle.astro";
import Intro from "@components/Intro.astro";

const articles = await getCollection("articles");
---

<BaseLayout title="Articles - Adam Wills">
  <MegaTitle title="Articles" />

  <Intro>
    <p class="text-center text-4xl">Some things I wrote…</p>
  </Intro>

  <section class="mt-24 text-center">
    <h2 class="mb-8 text-center text-7xl font-black uppercase">
      Latest Articles
    </h2>
    <ul class="flex flex-col gap-8">
      {
        articles.map((l) => (
          <li class="">
            <a
              href={`/articles/${l.slug}`}
              class="relative text-4xl font-extrabold uppercase underline decoration-brand-red-700 decoration-8 underline-offset-4"
            >
              {l.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
