---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import MegaTitle from "@components/MegaTitle.astro";
import Intro from "@components/Intro.astro";

const allLists = await getCollection("lists");
---

<BaseLayout title="Lists - Adam Wills">
  <MegaTitle title="Lists" subtitle="A Bunch of" />

  <Intro>
    <p class="text-center text-4xl">
      Who doesn't love a good list? Well here's a list of lists!
    </p>
  </Intro>

  <section class="mt-24 text-center">
    <h2 class="mb-8 text-center text-7xl font-black uppercase">Latest Lists</h2>
    <ul class="flex flex-col gap-8">
      {
        allLists.map((l) => (
          <li class="">
            <a
              href={`/lists/${l.slug}`}
              class="decoration-brand-red-700 relative text-4xl font-extrabold uppercase underline decoration-8 underline-offset-4"
            >
              {l.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
