---
// Component Script (JavaScript)
const { title, subtitle = "", size = "text-[17cqw]" } = Astro.props;
const mt = subtitle ? "-mt-[1cqw]" : "";
---

<!-- Component Template (HTML + JS Expressions) -->
<div style="container-type: inline-size;" class="min-w-full mb-8 mt-8">
  <h1 class="text-center">
    <span class="block text-[5cqw] md:text-[3cqw] font-extrabold uppercase"
      >{subtitle}</span
    >
    <span
      class={`block ${size} tracking-tighter uppercase font-extrabold leading-[0.8] ${mt}`}
      >{title}</span
    >
  </h1>
</div>
